<template>
  <div class="wrapper p-2">
    <app-spinner v-if="isLoad" />
    <template v-else>
      <div class="card-search row p-2 mb-3">
        <app-search v-model="searchValue" class="search-input" />
      </div>
      <div v-if="filteredPosts.length" class="row card-container">
        <div
          v-for="item in filteredPosts"
          :key="item.id"
          class="col-md-6 col-lg-4 p-2">
          <app-card v-bind="item" />
        </div>
      </div>
      <p v-else class="h3">По запросу "{{ searchValue }}" ничего не найдено</p>
    </template>
  </div>
</template>
<script setup lang="ts">
import AppSearch from "@/components/AppSearch.vue";
import AppCard from "@/components/AppCard.vue";
import AppSpinner from "@/components/AppSpinner.vue";

import { computed, ref, watch } from "vue";
import httpApi from "@/connection";

import type { IUser } from "@/interfaces/User";
import type { IPost } from "@/interfaces/Posts";

const users: { [key: number]: string } = {};
const posts = ref<Array<IPost>>([]);
const isLoad = ref(true);
(async () => {
  try {
    const userResp = await httpApi.get("users");
    userResp.data.forEach((user: IUser) => {
      users[user.id] = user.name;
    });
    const postsResp = await httpApi.get("posts");
    posts.value = postsResp.data;
    posts.value.forEach((post) => {
      post.author = users[post.userId];
    });
  } catch (error) {
    alert("Что то пошло не так. Попробуйте обновить страницу или зайти позже");
  }

  isLoad.value = false;
})();

const searchValue = ref<string | null>(null);
const needle = ref<string | null>(null);

watch(searchValue, () => {
  if (searchValue.value) {
    setTimeout(
      (word: string) => {
        if (word === searchValue.value) needle.value = word;
      },
      300,
      searchValue.value
    );
  }
  needle.value = searchValue.value;
});
const filteredPosts = computed<IPost[]>(() => {
  if (needle.value) {
    return posts.value.filter(
      (post) =>
        post.author &&
        post.author
          .toLowerCase()
          .includes(needle.value?.toLocaleLowerCase() ?? "")
    );
  }
  return posts.value;
});
</script>
<style lang="scss" scoped>
.wrapper {
  max-width: 1200px;
  margin: auto;
  //padding: 0px 8px;
}
.search-input {
  margin: auto;
}
.card-search {
  position: sticky;
  top: 0;
  z-index: 10;
  background: rgb(237, 241, 246);
}
.card-container {
  overflow: hidden;
}
</style>
