<template>
  <div class="card p-3">
    <h3 class="h3 mb-3" v-text="title"></h3>
    <p v-text="body" class="text p mb-3"></p>
    <p class="author mb-0" v-text="author"></p>
  </div>
</template>

<script setup lang="ts">
defineProps<{
  title: string;
  body: string;
  author: string;
}>();
</script>

<style scoped>
.h3 {
  color: #6296c3;
}
.author {
  font-size: 13px;
  color: #858f95;
}
</style>
