<template>
  <div class="search input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">@</span>
    </div>
    <input
      v-model="value"
      type="text"
      class="form-control"
      placeholder="Фильтр по имени"
      aria-label="Username"
      aria-describedby="basic-addon1" />
  </div>
</template>
<script setup lang="ts">
import { ref, watch } from "vue";

const props = defineProps<{ modelValue: string | null }>();
const emit = defineEmits(["update:modelValue"]);
const value = ref<string | null>(null);

watch(
  () => props.modelValue,
  () => {
    if (value.value !== props.modelValue) value.value = props.modelValue;
  }
);
watch(value, () => {
  if (value.value) emit("update:modelValue", value.value);
  else emit("update:modelValue", null);
});
</script>
<style scoped>
.search {
  max-width: 300px;
}
</style>
